
//fonts
$font-family-regular				: "StolzlRegular";
$font-family-medium					: "StolzlMedium";

//color
$color-white						: #ffffff;
$color-add-smoke					: #dee2e7;
$color-light-smoke					: #9ea5af;
$color-smoke						: #7a8396;
$color-dark-smoke					: #303d54;
$color-light-blue					: #182841;
$color-dark-blue					: #0c1d37;
$color-orange						: #ff7a00;
$color-black						: #061121;
$color-light-black					: #25344c;
$color-red							: #dc3232;
$color--green						: #00d084;

//font size
$font-size-extra-big				: 48px;
$font-size-semi-big					: 40px;
$font-size-big						: 32px;
$font-size-mini-big					: 28px;
$font-size-extra-large				: 24px;
$font-size-large 					: 22px;
$font-size-extra-medium				: 20px;
$font-size-medium 					: 18px;
$font-size-default					: 16px;
$font-size-normal					: 15px;
$font-size-light					: 14px;
$font-size-extra-light				: 13px;
$font-size-small					: 12px;

//line height
$line-height-default				: 150%;
$line-height-normal					: 140%;
$line-height-light					: 130%;
$line-height-small 					: 120%;
$line-height-extra-small			: 90%;