@import "scss/vars";

.vacancies-page {
	max-width: 1280px;
	margin: 0 auto;
	padding: 56px 0 102px;
}

.vacancies {
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
}

.title {
	margin-bottom: 32px;
	font-family: $font-family-medium;
	font-size: $font-size-extra-big;
	line-height: $line-height-small;
}